<div layout="row" layout-align="center center" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="vm.evento">
  <h1>Editando: {{vm.evento.name}}</h1>

  <form ng-submit="vm.update(vm.evento)">
    <div layout="row">
      <md-input-container flex>
        <label>Nome</label>
        <input type="text" ng-model="vm.evento.nome">
      </md-input-container>

      <md-input-container flex>
        <label>Local</label>
        <input type="text" ng-model="vm.evento.local">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>Data</label>
        <input type="text" ng-model="vm.evento.data">
      </md-input-container>

      <md-input-container flex>
        <label>Horário</label>
        <input type="text" ng-model="vm.evento.horario">
      </md-input-container>
    </div>

    <div layout="row">
      <md-button type="submit" class="md-primary md-raised">
        Editar
      </md-button>
    </div>
  </form>
</div>
