<div layout="row" layout-align="center center" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="vm.eventos">
  <h1>Todos os eventos</h1>

  <div ng-if="!vm.eventos.length">
    <h3>Sem eventos :(</h3>
  </div>

  <md-list ng-if="vm.eventos.length">
      <md-list-item class="md-3-line" ng-repeat="evento in vm.eventos">
        <a href="#/eventos/{{evento._id}}" class="md-list-item-text" layout="column" style="text-decoration: none;">
          <h3>{{ evento.nome }}</h3>
          <h4>{{ evento.data }}</h4>
          <p>{{ evento.local }}</p>
	  	</a>
      </md-list-item>
      <md-divider ></md-divider>
  </md-list>
</div>

<md-button class="md-primary md-raised" ng-href="#/eventos/create/">
  Criar um novo evento
</md-button>
