<div layout="row" layout-align="center center" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<h1>Create a user</h1>

<form ng-submit="vm.create(vm.newUser)">
  <div layout="row">
    <md-input-container flex>
      <label>Name</label>
      <input type="text" ng-model="vm.newUser.name">
    </md-input-container>
  </div>

  <div layout="row">
    <md-input-container flex>
      <label>Email</label>
      <input type="email" ng-model="vm.newUser.email">
    </md-input-container>
  </div>

  <div layout="row">
    <md-input-container flex>
      <label>Password</label>
      <input type="password" ng-model="vm.newUser.password">
    </md-input-container>
  </div>

  <div layout="row">
    <md-switch ng-model="vm.newUser.isFavorite" flex>
      Add to Favorites?
    </md-switch>
  </div>

  <div layout="row">
    <md-button type="submit" class="md-primary md-raised">
      Create
    </md-button>
  </div>
</form>
