<div layout="row" layout-align="center center" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="vm.users">
  <h1>All users</h1>

  <div layout="row" layout-align="center center" style="margin: 2rem" ng-repeat="user in vm.users">
    <img class="avatar" ng-src="{{user.avatar}}">

    <div layout="column">
      <h3 flex>{{user.name}}</h3>

      <md-button class="md-primary md-raised" ng-href="#/users/{{user._id}}">
        <md-icon md-svg-icon="launch"></md-icon> Ver mais
      </md-button>

      <md-button class="md-warn md-raised" ng-click="vm.remove(user._id, $index)">
        <md-icon md-svg-icon="remove"></md-icon> Remover
      </md-button>
    </div>

  </div>

  <div ng-if="!vm.users.length">
    <h3>No users :(</h3>
  </div>
</div>

<md-button class="md-primary md-raised" ng-href="#/users/create/">
  Create a new user
</md-button>
