<div layout="row" layout-align="center center" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="vm.usuarios">
  <h1>Todos os usuarios</h1>

  <div ng-if="!vm.usuarios.length">
    <h3>Sem usuarios :(</h3>
  </div>

  <md-list ng-if="vm.usuarios.length">
      <md-list-item class="md-3-line" ng-repeat="usuario in vm.usuarios">
        <a href="#/usuarios/{{usuario._id}}" class="md-list-item-text" layout="column" style="text-decoration: none;">
          <h3>{{ usuario.nome }}</h3>
          <h4>{{ usuario.email }}</h4>
          <p>{{ usuario.endereco }}</p>
	  	</a>
      </md-list-item>
      <md-divider ></md-divider>
  </md-list>
</div>

<md-button class="md-primary md-raised" ng-href="#/usuarios/create/">
  Criar um novo usuario
</md-button>
